$first-color: #393e46;
$second-color: #5c636e;
$third-color: #35667c;
$fourth-color: #f2f2f2;
$fifth-color:#f2864b;
$mobileBreakpointOneA: 768px;
$mobileBreakpointOneB: 425px;
$mobileBreakpointOneC: 1024px;
$mobileBreakpointOneD: 1440px;
$mobileBreakpointMenu: 900px;